@import './mixins.scss';
@import './focus_modal.scss';

body {
  margin: 0;
}


h1{
  text-align: center;
  color: #D53A34;
}
h2{
  text-align: right;
  color: #D53A34;
}

p .item__date-created{
  color:   #2E364F;
}
p .item__description{
  color:  #2D5D7C;
}
button{
  background-color: #D53A34;
  color:   #F3F0E2;
}
.item-link {
  cursor: pointer;
}
